{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": true
}
