@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.main-contents-container {
  margin-top: 5rem;
}